[2017-01-17 10:33] elipapa opened #1 "Association page without any information"
_From @nikiforosk on January 13, 2017 14:41_

The following associations page is empty:

https://www.targetvalidation.org/disease/GO_0002445/associations

This may be because there are no targets associated with this disease (type II hypersensitivity) or because this is a GO term.
![empty-page-go_0002445-associations-1484317468566](https://cloud.githubusercontent.com/assets/20280139/21933712/60614

[2017-01-17 10:33] elipapa commented on #1
_From @emepyc on January 13, 2017 14:47_

It is a disease ID, but we don't have the same empty response for diseases without associations as we have for the unknown targets.
I'll add one.
We should also try to differentiate between unknown disease IDs and diseases without targets associated.

[2017-01-17 10:33] elipapa commented on #1
_From @nikiforosk on January 13, 2017 15:12_

Thanks!

The problem here is that one cannot easily go from the associations page to the disease page:
https://www.targetvalidation.org/disease/GO_0002445

Also on the associations page we should mention that there are no targets associated with this disease

[2017-01-17 10:33] elipapa commented on #1
_From @emepyc on January 13, 2017 15:14_

Yes, the overview page should help with that

[2017-02-03 13:32] emepyc commented on #1
This is already fixed and deployed in production

[2017-02-03 13:32] #1 closed

[2017-02-20 21:56] elipapa opened #2 "Which disease in the search results is spinal muscular atrophy?"
@nikiforosk commented on [Mon Feb 13 2017](https://github.com/opentargets/features/issues/66)

Prompted from our discussion with Shila from Biogen on Friday I searched for "spinal muscular atrophy" and got the following results:
https://www.targetvalidation.org/search?src=q:spinal%20muscular%20atrophy,p:1,f:disease

![search-spinal-muscular-atrophy](https://cloud.githubusercontent.com/assets/20280

[2017-02-20 23:21] elipapa opened #3 "no phenotypes for motor neuron disease"
@nikiforosk commented on [Mon Feb 13 2017](https://github.com/opentargets/features/issues/68)

While talking to Shila from Biogen last Friday, I noticed that we don't have any phenotypes for motor neuron disease:
https://www.targetvalidation.org/disease/EFO_0003782

@gkos-bio Is that correct? See e.g. http://www.mndcare.net.au/Overview/Motor-neurone-disease/Phenotypes.aspx

cc/ @opentargets/efo_ma

[2017-02-21 00:27] elipapa opened #4 "I'd like to have the LD tables from Ensembl in Open Targets"
_from support email_

[2017-02-21 00:28] elipapa commented on #4
We already link out to the Variant tab in Ensembl which has among other things link to LD.

This may be partially addressed also by https://github.com/opentargets/features/issues/53

[2017-02-21 00:29] elipapa opened #5 "I'd like to be able to download the associations for a gene or SNP"
from _support email_
I'd like to be able to view in a table (and download) the associations for a gene (or SNP) all in one place

[2017-02-21 00:29] elipapa commented on #5
We display the genomic context of a gene and its SNPs with associations upon clicking the lollipops. Could a table be provided? GWAS catalog provides this. Shall we replicate it? Shall we link out to them (https://www.ebi.ac.uk/gwas/search?query=clec16a). Need to be careful: we may want to change the focus of people: instead of looking at every single SNP to taking the whole genomic region at once

[2017-02-21 00:30] elipapa opened #6 "I'd like to be get other stats from GWAS data"
from _support email_

 e.g. odds ratio, 95% CI, B coefficient

[2017-02-21 00:30] elipapa commented on #6
This information is already somewhere else e.g. Ensembl who we link out to.

[2017-02-21 00:31] elipapa opened #7 "show the gene expression and exon expression plots from GTEx on the open targets target profile page"
It'd be helpful to show the gene expression and exon expression plots from GTEx (images below) on the open targets target profile page. I also like how the default GTEx grouping is by body region (e.g. brain)

[2017-02-21 00:31] elipapa opened #8 "include the biogps static images for human expression data of the gene of interest with a link to biogps."

[2017-02-21 00:32] elipapa commented on #8
overall biogps website: http://biogps.org/#goto=genereport&id=4261

specific link that has images to download: http://ds.biogps.org/?data set=BDS_00001&gene=4261

[2017-02-21 00:32] elipapa opened #9 "quantitative data for genes on which cell types they are expressed in"

[2017-02-21 00:32] elipapa commented on #9
Quantitative expression data could be extracted from http://www.im mgen.org/databrowser/index.html for lymphocytes and http://servers .binf.ku.dk/bloodspot/ for other blood cells

[2017-02-21 00:33] elipapa opened #10 "mouse strains SNPs and the data for the Sanger Knockout project"

[2017-02-21 00:33] elipapa opened #11 "ENSG IDs downloaded from the web interface"
Previously when downloading the genes associations, the Ensembl gene ID was included. Now it seems not to be available. It would make downstream use easier if the Ensembl ID were included in the download from the web interface.

[2017-02-21 00:33] elipapa commented on #11
e.g. https://www.targetvalidation.org/disease/EFO_0003843/associa tions. User has been informed there is an API for getting more detail, but claims is not quite as easy as clicking a download link.

[2017-02-21 00:34] elipapa opened #12 "zebrafish models"
There are zebrafish mutants openly available in US and EU for the vast majority of genes, so I think it is important to include them as open models for target valid.

[2017-02-21 00:34] elipapa commented on #12
For up to date disease mappings to all species it is now better to use the Monarch Initiative website http://monarchinitiative.org  They regularly update from ZFIN which takes data imports from ZMP.

[2017-02-21 08:00] deniseOme commented on #7
Done for the December 2016 release!

[2017-02-21 09:10] deniseOme commented on #7
Close #7

[2017-02-21 09:32] emepyc commented on #7
We don't have plots for the exon expression (or isoforms), but I think we decided that we won't be replicating all the GTEx plots in OT (we already offer a link out).
I think one of the use cases for that is that the user was able to export our images and that was not possible in the GTEx portal (just for the record)

[2017-02-21 09:33] deniseOme commented on #7
Yes, you are right. My bad.

[2017-02-21 09:35] deniseOme commented on #7
I did not know we had decided we won't be replicating all the GTEx plots in OT (we already offer a link out). I will let Paola know. I can also ask her why would she like that from OT rather than the original source (perhaps she will mention the added value we provide for the image export).

[2017-02-21 09:36] emepyc commented on #8
If the data behind biogps is not in our platform I don't see the point of linking to their images.
This will be solved when we have our own widget for expression

[2017-02-21 09:40] emepyc commented on #11
Yes, we used to have that. I don't remember why we dropped them, but I'd be happy to restore ensembl ids.
I'm moving this one to the webapp

[2017-02-21 09:41] emepyc commented on #11
Issue moved to [opentargets/webapp #86](https://github.com/opentargets/webapp/issues/86) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-21 09:41] #11 closed

[2017-02-21 09:45] emepyc commented on #7
Ah, ok, yes, you missed that meeting. This was discussed on the weekly meeting you were in the US. We decided that we shouldn't replicate all the options they have.
And yes, I think you mentioned that (at least one of the reasons) she wanted us to replicate the plot because she was able to download our images :-/

[2017-02-21 09:51] deniseOme commented on #7
So we should close this?

[2017-02-21 11:03] deniseOme commented on #7
email sent to Paola.

[2017-02-21 11:50] #7 closed

[2017-02-22 10:08] deniseOme commented on #8
But we link to other images without having their data (e.g. GTEx, PDBe)?!?!?

[2017-02-22 10:13] emepyc commented on #8
I don't mean we don't have their data in the backend, but in the webapp.
For gtex, we import the data (from their rest api), and display it in our webapp, then we link to the external source for more details.
The same happens for PDBe, we show the structure in our site, we link out for more details.

This issue is asking just for a link to an external image in an external site without any context

[2017-02-22 10:25] deniseOme commented on #6
user has been notified of the decision

[2017-02-22 10:25] #6 closed

[2017-02-22 10:27] emepyc commented on #8
Bear in mind that from the webapp user point of view, if the data comes from our backend or from an external rest api is transparent to them. For what they can tell, the data is just there in our site.

[2017-02-22 10:57] elipapa commented on #8
It is possible in principle to build an url such as http://ds.biogps.org/?dataset=GSE1133&gene=4261
since we do provide the DB xrefs to the NCBI gene id.

For instance:
[code]
returns
[code]

However the links goes to an html page, rather than a static image. The image asset is not immediately available with a direct http call.

I think we would need to first:
- [ ] find out if exp atlas already i

[2017-02-22 10:59] elipapa opened #14 "download the top 100 paper from the text mining results"
these should be ranked by some measure of significance. EuropePMC does provide an internal score we could use.

[2017-02-22 11:15] deniseOme commented on #4
User notified in Nov 2016.

[2017-02-22 11:15] #4 closed

[2017-02-22 12:07] deniseOme opened #15 "Is there a way to automatically download the gtex image? And the expression atlas image?"
I had discussed this with @emepyc offline.
I got back to the user with the possibility that we will try to write a script to allow for the expression data for a given gene to be retrieved and the png file to be generated.

As soon we have a first version of this script, we will follow this up with the user.

[2017-02-22 12:11] deniseOme opened #16 "Can you please add download image button to the expression atlas?"
Got back to the user after discussing this with @emepyc and said: we should be able to add a "download image button" to the Expression Atlas image. The download will not include the legend or the diagram of the human body, just the heatmap. For the full capture of what they see in the Platform, screenshot would be the quickest way forward at the moment as we do not have much control on the image (

[2017-02-22 12:13] deniseOme commented on #14
The user would appreciate it if we could  add back the download button. They've suggested to add a maximum number exported to make it less technically challenging. They are not sure what that number would be.

[2017-02-22 12:15] deniseOme commented on #14
Latest communication with the user, the REST API endpoint (https://targetvalidation.org/api/latest/public/evidence/filter?target=ENSG00000182578&disease=EFO_0000249&datatype=literature&format=tab) was provided as an alternative for the time being.

[2017-02-22 12:16] deniseOme commented on #16
The original user request was: "is there a way for me to pull the articles from your Europe PMC Text mining for a particular gene/target combination? For example via a static web link or the open targets API".

[2017-02-22 13:22] deniseOme commented on #14
The original user request was: "is there a way for me to pull the articles from your Europe PMC Text mining for a particular gene/target combination? For example via a static web link or the open targets API".

[2017-02-27 16:01] deniseOme opened #17 "Odds ratios instead of (in addition to) log2 fold change?"
Comment that for germline SNPs' association w/ a disease, OR can be much more dramatic.

e.g. OR for COL11A1 in breast cancer is >30 but it isn't picked up in expression studies

[2017-03-08 17:22] deniseOme opened #18 "link to opentargets/github"
One user at a workshop suggested having a link to our github.

Perhaps from the API menu?!?!?

![screen shot 2017-03-08 at 17 22 28](https://cloud.githubusercontent.com/assets/6472381/23715236/d7982870-0423-11e7-877d-f3f54a7efec3.png)

[2017-03-09 09:52] nikiforosk commented on #18
Maybe this Menu should be called "For developers" (and perhaps include the Downloads)?

See e.g. the ubuntu site:
https://developer.ubuntu.com/en/?_ga=1.221482712.1161247147.1489052972

[2017-03-09 14:15] deniseOme opened #19 "R client: can we maintain it?"
At the omics integration course (March 2017 at EMBL-EBI), at least two attendees wish the R client to be maintained by Open Targets.

[2017-03-09 14:26] ckongEbi opened #20 "R client support"
Hi , during the omics integration session, we have few requests asking for more support on our R client.

[2017-03-09 14:30] deniseOme commented on #20
Duplicated.
See #19 instead.

[2017-03-09 14:30] #20 closed

[2017-03-09 14:31] deniseOme commented on #19
we created the same issue twice almost at the same time, @ckongEBI

[2017-03-09 14:34] deniseOme opened #21 "get drug information from papers using Pubmed"
At the omics integration course (March 2017 at EMBL-EBI), one student suggested mining literature for drug-disease information as another data source. Awaiting for more details from the user, specially examples.

[2017-03-09 15:31] deniseOme opened #22 "your target list tool: pasting"
This has been discussed with @emepyc on slack.

At the omic integration course (March 2017, EMBL-EBI) one user suggested having a box for entering the data (in addition to the upload file options) e.g.

![](https://files.slack.com/files-pri/T02UV853T-F4FAJ1E58/screen_shot_2017-03-08_at_11.56.47.png)

This may no longer be needed when the batch search is up and running.
Batch search will allow past

[2017-03-09 15:34] deniseOme opened #23 "your input list: file type TSV"
Omics data integration (Mar 2017, EBI): one user wish having tsv format available.

The user's told ideally 'no format needed' would be better. The tool would 'guess' which format the user inputted their data.

@emepyc agrees it makes sense for csv and tsv (as the code for parsing both is very similar), but how about users wanting to upload word? (word97?) excel? pdf? rtf?  Would they like to uplo

[2017-03-10 12:45] deniseOme opened #24 "Clinical phases trials: FAQ"
When we teach workshops to a wider audience (not only DDU), there can be questions such as what does phase 0, 1, 2, 3, 4 mean. We need a FAQ (with or without a cartoon)

https://www.cancerresearchuk.org/about-cancer/find-a-clinical-trial/what-clinical-trials-are/phases-of-clinical-trials

https://www.nlm.nih.gov/services/ctphases.html

[2017-03-10 12:48] deniseOme opened #25 "European Clinical Trials Database"
Follow on a question at omics data integration: is it worth curating drug information from the European Clinical Trials Database? What are the differences when compared to clinicaltrials.gov or daily med?

https://eudract.ema.europa.eu/

[2017-03-10 13:01] iandunham commented on #25
One to ask Chembl about.

[2017-03-23 11:29] deniseOme commented on #18
We may revisit this later...Perhaps get some use cases, and the advantages of having the link (just to say we are open? We want to expose our codebase? If the latter, there may be other ways to do so.

[2017-03-29 15:36] deniseOme opened #26 "I'd like to search for rsIDs"
This request has last been made by Nizar Smaoui at Platform training session for Takeda. It's been requested by other workshops' attendees as well.

[2017-03-29 15:48] emepyc commented on #26
Not clear to me what to expect from a genomic coordinate search... targets? snps? other entities? disease enrichment? mixed of all of them? what is the limit of a the genomic chunk to query? How would a result page look like?
We also try to be as assembly agnostic as possible. This breaks that (we don't have genomic coordinates in the backend at all for now).
Maybe this issue should be broken in 2

[2017-03-29 16:07] deniseOme opened #27 "I'd like to search genomic coordinates"
This request has last been made by Nizar Smaoui at Platform training session for Takeda. It's been requested by other workshops' attendees as well.

Related to #26.

Once the FAQ on genome assembly is out, it will be clearer to users that we try to be as assembly agnostic as possible.

I don't know which results they expect from a search using coordinates. I can ask next time round.

If (and it's

[2017-03-29 16:15] deniseOme opened #28 "HLA genes removed from GWAS"
Followed Takeda's hands on and Ian McLean's question, HLA associations seem to be missing from the Platform as they get removed from GWAS.

Can this information be retrieved by other means? Why aren't they picked up by text mining. Could UniProt look at these papers and curate them?

If there are no other way, I’d be interested in curating some of this evidence (from papers etc), if necessary.

@n

[2017-03-29 16:25] deniseOme commented on #26
This was also a question from Eric Lai (takeda) at previous conversation with @elipapa

[2017-04-24 15:22] elipapa commented on #27
better suited to a genome browser.

[2017-04-24 15:22] #27 closed

[2017-04-24 15:22] deniseOme commented on #27
whenever a user asks this, point them to Ensembl.

[2017-04-24 15:25] elipapa commented on #27
@deniseOme should we include this decision in the FAQ?

[2017-04-24 15:27] elipapa commented on #24
faq now pointing to https://www.fda.gov/downloads/Drugs/ResourcesForYou/Consumers/UCM284393.pdf

@emepyc should we embed this one?

[2017-04-24 15:27] #24 closed

[2017-04-24 15:29] elipapa commented on #22
batch search takes care of that

[2017-04-24 15:29] #22 closed

[2017-04-24 15:29] deniseOme commented on #28
could @MayaGhoussaini come up with a list of HLA genes from papers and we see how text mining is picking that up?

[2017-04-24 15:31] #21 closed

[2017-04-24 15:31] elipapa commented on #21
Issue moved to [opentargets/features #83](https://github.com/opentargets/features/issues/83) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 15:33] elipapa commented on #19
the final decision is: best effort support, but not official support...
@deniseOme we should probably write this in the REPO of the rclient

[2017-04-24 15:33] #19 closed

[2017-04-24 15:37] elipapa commented on #18
we'll include it in the footer.

[2017-04-24 15:37] elipapa commented on #18
Issue moved to [opentargets/webapp #117](https://github.com/opentargets/webapp/issues/117) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 15:37] #18 closed

[2017-04-24 15:40] elipapa commented on #17
only data we have for this connection is expression atlas RNA expression and log2 change is most intuitive for that.

clarification?

[2017-04-24 15:42] elipapa commented on #16
when we make our own widget https://github.com/opentargets/features/issues/47 we'll offer a download.

[2017-04-24 15:44] elipapa commented on #15
the image can be downloaded, one-by-one.
to do it programmatically seems an edge case.
we don't host the data and GTEX has a way of download the image anyways.

[2017-04-24 15:44] #15 closed

[2017-04-24 15:47] elipapa commented on #14
Issue moved to [opentargets/webapp #118](https://github.com/opentargets/webapp/issues/118) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 15:47] #14 closed

[2017-04-24 15:51] elipapa commented on #10
need to compare to http://www.mousephenotype.org/ as a data source

[2017-04-24 15:55] elipapa commented on #9
compare with expression atlas

[2017-04-24 16:00] elipapa commented on #5
this could fit either in the target profile or the associations page, but is basically a wrapper around the existing API functionality

[2017-04-24 16:00] #5 closed

[2017-04-24 16:00] elipapa commented on #5
Issue moved to [opentargets/features #84](https://github.com/opentargets/features/issues/84) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 16:20] deniseOme commented on #17
This is all I've got:

[2017-04-24 16:20] deniseOme commented on #17
https://twitter.com/targetvalidate/status/826058388886929409

[2017-04-24 20:42] #3 closed

[2017-04-24 20:42] elipapa commented on #3
Issue moved to [opentargets/platform_semantic #6](https://github.com/opentargets/platform_semantic/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 20:43] elipapa commented on #2
cc/ @opentargets/efo_mapping

[2017-04-24 20:43] #2 closed

[2017-04-24 20:43] elipapa commented on #2
Issue moved to [opentargets/platform_semantic #7](https://github.com/opentargets/platform_semantic/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 20:45] elipapa commented on #8
@ckongEbi will ask exp atlas if the data overlaps with their baseline submission to us.

[2017-04-25 08:48] ckongEbi commented on #25
@elipapa can you move this to data-providers repo https://github.com/opentargets/data-providers-docs/issues, i take it up with ChEMBL

[2017-04-25 08:48] ckongEbi commented on #8
@elipapa can you move this to data-providers repo https://github.com/opentargets/data-providers-docs/issues, i take it up with ChEMBL

[2017-04-25 08:48] ckongEbi commented on #9
@elipapa can you move this to data-providers repo https://github.com/opentargets/data-providers-docs/issues, i take it up with ChEMBL

[2017-04-30 10:45] nikiforosk opened #29 "Alzheimer's with apostrophe (instead of Alzheimers without apostrophe)"
We spell "Alzheimers" without a apostrophe in the UI, e.g. in the associations page:
https://www.targetvalidation.org/disease/EFO_0000249/associations

![ad-associations-1493546001879](https://cloud.githubusercontent.com/assets/20280139/25563696/752a5d44-2d99-11e7-8841-b5667d402f30.png)

But if you search for "Alzheimers" on the web, google will correct it to "Alzheimer's" with apostrophe:
![scree

[2017-04-30 10:47] nikiforosk commented on #29
I want to use Alzheimer's in the example workflow of the UX paper so it will be helpful if this is prioritised.

[2017-04-30 11:23] emepyc commented on #29
This is data related. The UI just displays whatever disease name it receives from the API.
(btw, you probably mean _apostrophe_ instead of _hyphen_)

[2017-04-30 11:31] nikiforosk commented on #29
Yes it's apostrophe, thanks. Who can correct this in the data?

[2017-04-30 11:38] emepyc commented on #29
It is possible that this has to be changed in the EFO itself? (ie the SPOT team). In any case I suppose you should ping @gkos-bio or @ckongEbi.

[2017-04-30 16:15] deniseOme commented on #29
Alzheimers is one of the names of the disease as well as Alzheimer's, Alzheimers dementia  and Alzheimer in EFO and DO (disease ontology):

https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0000249

Synomym as well in Disease Ontology:
http://disease-ontology.org/

![screen shot 2017-04-30 at 17 09 01](https://cloud.githubusercontent.com/assets/6472381/25565

[2017-05-01 15:49] ckongEbi commented on #29
@nikiforosk @emepyc When it comes to EFO related issue

Submit a ticket directly to EFO team as suggested by Denise, e.g.
https://www.ebi.ac.uk/panda/jira/browse/FGPTO-1391

Or create a wiki issue here, @gkos-bio will collate them and submit to Sira.
https://github.com/opentargets/platform_semantic

[2017-05-02 11:41] nikiforosk commented on #29
@gkos-bio I've submitted a ticket to the EFO:
https://www.ebi.ac.uk/panda/jira/browse/FGPTO-1396

Hopefully they'll fix it before we submit the paper (somehow I'm not that confident about this)...

@deniseOme I think it's OK to have "Alzheimers" as a synonym and I understand why you'll find it like that in papers and clinical trials. But the official name in the ontology should have an apostrophe.

[2017-05-03 11:15] deniseOme commented on #28
@MayaGhoussaini has compiled a list of diseases where genes in the MHC (e.g. HLA) have been implicated.

[MHC_Diseases.xlsx](https://github.com/opentargets/platform_issues_triage/files/973109/MHC_Diseases.xlsx)

[2017-05-05 13:23] deniseOme commented on #28
@iandunham, @MayaGhoussaini will have a look at this list and state whether or not the association is in the Platform. If so, she will also note which evidence is available (from GWAS, text mining, etc..).

[2017-05-05 13:33] ckongEbi commented on #28
@MayaGhoussaini it will be useful to have the publication id and we can follow up with epmc. Have a quick look at the list, in this example we do have HLA association, but not the genes from the list provided.

![image](https://cloud.githubusercontent.com/assets/6169985/25747511/9f2ce9c2-319f-11e7-8ae0-9ea86bdb6d5e.png)

![screen shot 2017-05-05 at 14 30 00](https://cloud.githubusercontent.com/ass

[2017-05-09 08:27] MayaGhoussaini opened #30 "Replacing 'Genetic Associations' by 'Genetic Evidence'?"
@iandunham @elipapa @gkos-bio @emepyc @apierleoni

Do you think it is possible to replace ‘Genetic Associations’ on the platform by ‘Genetic Evidence’ or something along those lines? I find that ‘Genetic associations’ can be confused with associations found through GWAS while the platform provides genetic links for both Common and Mendelian diseases.

[2017-05-09 08:37] iandunham commented on #30
Definitely worth considering.  Although we could just go for "Genetics" as none of the other data types use the word association or evidence. Before doing anything, discuss with Niki to see what the background on how we got to associations is.

[2017-05-09 08:45] MayaGhoussaini commented on #30
Sure. Thank you!

[2017-05-09 17:48] emepyc opened #31 "Overlapping data sources leading to duplication of data in the UI"
@deniseOme commented on [Tue May 09 2017](https://github.com/opentargets/webapp/issues/126)

Is it correct to display the same variant twice (as the evidence comes from different sources, i.e. UniProt and ClinVar in the example below:

https://beta.opentargets.io/evidence/ENSG00000102081/Orphanet_908?view=sec:genetic_associations

This is potentially confusing for users.

[2017-05-09 17:49] emepyc commented on #31
This is the consequence of having overlapping data sources. I don't think we can do much about this.
Even if we accept this as an issue, it would be data related, since merging these evidence should be done at the data level.

[2017-05-12 15:30] deniseOme opened #32 "finding the rank of my target"
Question from Dundee workshop attendee: "In the disease association page, how can I find out the ranking of my gene?"

Is it worth including a percentile ranking (although this does not seem to add much in the Expression Atlas data)?

Example: for multiple sclerosis, there are >2700 targets but the user wanted to focus on the CD86, which has an overall score of 0.86.

How can they find out if this

[2017-05-12 15:43] deniseOme opened #33 "Include the target symbol on the drugs section"
Include the target symbol on the drugs section of the target profile page (this had been asked in Heidelberg as well) e.g.

https://www.targetvalidation.org/evidence/ENSG00000114013/EFO_0001421?view=sec:known_drugs

The users can go to ChEMBL and get that information as it stands but we may want to revisit the table time permitting...

[2017-05-16 13:09] nikiforosk commented on #29
Sira fixed this in the EFO. Below is some action for @gkos-bio (from Sira's email):

the issue has been resolved on the EFO side. The ticket has been closed with the comment that Alzheimer’s disease (with the apostrophe) is now set to be the preferred label. The rdfs:label remains without apostrophe for backward compatibility with the older OWL editor on the other users’ ends. I have discussed thi

[2017-07-21 15:01] deniseOme opened #34 "Data sources to add (from ARUK-UCL)"
https://web.stanford.edu/group/barres_lab/brain_rnaseq.html

http://www.brain-map.org/

[2017-08-29 10:33] elipapa opened #35 "genome browser makes it difficult to distinguish between gwas and phewas SNPs"
The genome browser automatically displays all the content of the genetic association table.
That means that phewas and gwas hits are displayed together, leading to user confusing the two data type. One user mentioned thinking we removed our "filter" for low pvalues from gwas catalog.

![image](https://user-images.githubusercontent.com/112610/29816660-d1ef6f8e-8cac-11e7-9315-abb6a11794d2.png)

We s

[2017-09-06 15:14] elipapa opened #36 "no API dumps available for the 17.06 release"
- [ ] generate them from production API
- [ ] add the links in the production webapp

[2017-09-14 22:58] elipapa commented on #26
duplicate of https://github.com/opentargets/features/issues/12

[2017-09-14 22:58] #26 closed

[2017-10-23 16:48] deniseOme opened #37 "type of IDs accepted on batch search"
Can we state which IDs are accepted by the tool (e.g. HGNC, UniProt, ENSG IDs, synonyms) somewhere next to "List format is one target per line. A maximum of 200 targets is currently allowed."

<img width="534" alt="screen shot 2017-10-23 at 17 35 26" src="https://user-images.githubusercontent.com/6472381/31901129-79f1ee50-b818-11e7-8113-5ddbcb745b30.png">

[2017-10-23 16:50] deniseOme opened #38 "number of total targets in the results page of batch search"
Can the total numbers of targets be reported for each disease in the results page of the batch search? This number would be in brackets.

<img width="243" alt="screen shot 2017-10-23 at 17 37 47" src="https://user-images.githubusercontent.com/6472381/31901203-ac38e1e8-b818-11e7-81d6-862e9cd099ee.png">

As per June 2017, we would have:

Crohn's disease (3426).

[2017-10-23 16:52] deniseOme opened #39 "link the results of a search to the batch search"
When searching for a phenotype, we have targets and diseases retrieved.

Can we offer a facet with the targets in a list and then link them to the batch search tool?

[2017-10-23 17:08] deniseOme opened #40 "add compounds/drugs on pre-clinical stage"
This is one compound ARUK Oxford DDI where interested in:

https://www.ebi.ac.uk/chembl/compound/inspect/CHEMBL1957266

We've got it here:
http://www.targetvalidation.org/summary?drug=CHEMBL1957266

More info on this compound (including mechanism of action):
http://www.chemicalprobes.org/jq1
https://www.ncbi.nlm.nih.gov/pubmed/20871596

They would like to see this compound listed under drugs for t

[2017-10-23 17:13] deniseOme opened #41 "TBK1: protein expression on cortex, but not brain?"
This target is found to be highly expressed in the cortex (plus other regions of the brain) but in our table we say there is no expression in the brain: http://www.targetvalidation.org/target/ENSG00000183735

Looking at the original data from human protein atlas, it seems in their dumps they don't list brain but in their website they seem to combine all brain parts to say there is brain high prote

[2017-10-23 17:25] deniseOme opened #42 "include the alleles in the Table for Genetic associations"
Having the possible alleles at a genetic variant locus is import for Structural Genomics people e.g.

http://www.sgc.ox.ac.uk/

They are not geneticists and although they can get that from Ensembl (we link out to it) or can be seen in the mini browser view, they would like this to be in the table, so that they could download that information.

[2017-10-23 17:45] #37 closed

[2017-10-23 17:45] emepyc commented on #37
Issue moved to [opentargets/webapp #206](https://github.com/opentargets/webapp/issues/206) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-23 18:00] emepyc commented on #39
There are certainly some useful use cases for sending lists of genes to the batch search page (top targets associated to a disease, targets in a pathway, related targets to another target...).

There are several problems with the one you propose:

1) It is not possible to know if the user searched for a phenotype or any other entity. In any case we always return a (possible) list of targets and di

[2017-10-23 18:10] emepyc commented on #41
I think we get it right now:
https://expression-simple--paratrooper-antelope-70721.netlify.com/target/ENSG00000183735

[2017-10-23 18:12] emepyc commented on #42
In the browser we get the alleles from ensembl directly via their rest api (we ask for them one at a time when needed). If we want that information in the table as well, we will need to include the information in our data pipeline.
I suggest to move this issue there.

[2017-10-23 19:39] deniseOme commented on #42
Thanks @emepyc. @apierleoni, @iandunham can you comment on whether or not we want to display the alleles on the table for this specific use case?

[2017-10-24 08:35] nikiforosk commented on #39
As Miguel mentioned, the targets that show up on the search results for e.g. inflammation are not necessarily associated with inflammation (i.e. this page doesn't take into account the evidence for an association with inflammation): https://www.targetvalidation.org/search?src=q:inflammation,p:1,f:target

Several people, however, do interpret the search results page in a similar way as the associat

[2017-10-24 09:21] iandunham commented on #42
I think that ultimately what they want is the effect of the alleles on the protein. This is something that Uniprot is doing as a extension of the VEP (called Pepvep!) that we could call on. I think it would be useful.

This is something that has also been asked for elsewhere in a different use case - for the effect alleles and direction of effect for GWAS studies. We should also look at how we can

[2017-10-24 09:26] deniseOme commented on #42
...and how the alleles affect the protein structure (perhaps revealing/blocking a binding site).

On the same theme, the SGC would like to get the reconstructed amino acid and nucleotide sequences for the alternative allele.

[2017-10-24 09:28] iandunham commented on #40
I can't see APOBEC3G amongst the list of targets that ChEMBL curates at https://www.ebi.ac.uk/chembl/target/results/keyword for this drug, and the chemical probes site just gives the BRD set of proteins. Where does the information that APOBEC3G is a target for this come from? i.e. how would we get the information, other than someone telling us?

[2017-10-24 09:34] deniseOme commented on #40
This is what I found:
https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL1741217

Would this suffice?

[2017-10-24 09:37] deniseOme commented on #39
They are after serendipity.
It's not useful for them to work on the targets that are already linked to multiple sclerosis.
They want to start with targets selected from in a given pathway or phenotype.

This phenotype/serendipity was discussed with Patrick Vallance when he visited us last year. Not sure if @gkos-bio has been thinking about ways to address this.

[2017-10-24 09:38] iandunham commented on #40
Is APOBEC3G in the list of compounds found in that page (there are a lot)? The request seemed to be about adding the compound under the APOBEC3G drugs but is it actually a target or just has some activity towards that target?

[2017-10-24 09:42] emepyc commented on #39
I think we should integrate more batch search into the flows we have (several examples have been given in this thread). I will work on this. But I don't think the search results is a good place to collect lists of genes to analyse in the batch search page.
I'm closing this for now.

[2017-10-24 09:42] #39 closed

[2017-10-24 10:31] iandunham commented on #41
I think @emepyc is saying we do show this now in the new interface (not released yet)
[Untitled.tiff.pdf](https://github.com/opentargets/platform_issues/files/1410412/Untitled.tiff.pdf)

[2017-10-24 10:34] deniseOme commented on #40
As far I understood, it had some activity towards the target and this is known in the pre-clinical stage.

They want to get compounds targeting a protein, not only drugs, not only drugs already marketed or approved for clinical trials.

[2017-10-24 10:37] deniseOme commented on #41
Ooops. I did not realise we could click on brain (or other organ) and get its components...
Now I know we can. Thanks for that.

[2017-10-24 10:39] deniseOme commented on #41
Btw, this is amazing @emepyc!

[2017-10-24 10:42] emepyc commented on #41
Thanks, but credits go to @peatroot for developing it and @nikiforosk (and the rest of the team) for the design

[2017-10-24 10:42] #41 closed

[2017-10-24 11:01] iandunham commented on #41
![untitled](https://user-images.githubusercontent.com/1729980/31939621-0827324e-b8b3-11e7-9620-8f1147dafae4.png)

[2018-01-04 12:56] deniseOme opened #43 "spurious association between ENSG00000168077 and EFO_0000692"
Text mining has considered CSR as a synonym for SCARA3 but this paper

http://europepmc.org/abstract/MED/25786025

has CSR as "Clinical Severity Rating" rather than a gene name, hence the wrong association of CSR with the disease:

http://www.targetvalidation.org/evidence/ENSG00000168077/EFO_0000692

@ckongEbi @iandunham @elipapa @gkos-bio: can we include this in our "kill list" so that when we ru

[2018-01-04 13:07] deniseOme commented on #43
We also should check all other TM results for SCARA3 as the following have been picked up by the user:

* Alzheimer's - CSR (Chronic Sleep Restriction)
* Genetic disorder - CSR (Class-switch recombination  or Corporate Social Responsibility)
* Heart disease - CSR = Cheyne-Stokes-respiration or cumulative social risk

[2018-01-04 13:40] iandunham commented on #43
@ckongEbi Can you have a discussion about filtering these and the other false positives we identified from the Text mining feed. We should either do this together with EuroPMC or add our own filters.

Add in all the false positives from the integration day

[2018-01-04 13:42] elipapa commented on #43
not sure we have a "kill list" .. do we?

On Thu, Jan 4, 2018 at 1:07 PM, deniseOme <notifications@github.com> wrote:

[2018-01-04 14:21] iandunham commented on #43
There's a set of filters in Senay's code for this type of case. Obviously we need to build a long term solution, but we also should see if we can fix these short term. One way to do it short term would be to use this information and the false positives from the integration day to identify papers that we know are FPs and throw them out.

[2018-01-04 15:49] deniseOme opened #44 "antagonist versus inhibitor: drug activities"
The terms under activity (e.g. antagonist) in a page like this:

https://www.targetvalidation.org/evidence/ENSG00000180210/HP_0004419?view=sec:known_drug

come from ChEMBL in our evidence strings.

We should chat again to ChEMBL about what the right terms should be (antagonist? inhibitor?), and whether or not we are receiving them.

The choice of 'antagonist' may derive from an old discussion betw

[2018-01-05 11:18] deniseOme commented on #44
@gkos-bio uses the following for other drug data in the GSK version
- agonist,
- antagonist,
- modulator (e.g. for receptors),
- inhibitor,
- blocker (e.g. calcium channel),
- chelator (chelating agents),
- opener (e.g. potassium channel) and
- others.

The links provided by @gkos-bio (below) can be used during the discussion with ChEMBl.

https://www.tocris.com/resources/pharmacological-glossary

[2018-01-08 12:22] ckongEbi commented on #43
I can speak to EPMC with a list of FP list and discuss the possibility of them filtering these out for the short term.  Initial list here:
https://docs.google.com/spreadsheets/d/1RiYCYdD-XHPbEszQKsZvKkC2Y2utAKNj9oC_YgpWEeU/edit?usp=sharing

@iandunham do you have the post-Integration day list from epmc somewhere, I can't seem to locate them..

[2018-01-11 14:51] elipapa commented on #36
![image.png](https://images.zenhubusercontent.com/58ab643351aa2c305774f85f/34a8e3af-2555-4a11-b966-89dd135845bb)

[2018-01-11 14:51] #36 closed

[2018-01-11 15:13] #23 closed

[2018-01-12 14:07] #44 closed

[2018-01-12 14:07] elipapa commented on #44
Issue moved to [opentargets/epics #122](https://github.com/opentargets/epics/issues/122) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:08] elipapa commented on #43
Issue moved to [opentargets/epics #123](https://github.com/opentargets/epics/issues/123) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:08] #43 closed

[2018-01-12 14:42] elipapa commented on #42
Issue moved to [opentargets/roadmap #124](https://github.com/opentargets/roadmap/issues/124) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:42] #42 closed

[2018-01-12 14:42] elipapa commented on #42
Issue moved to [opentargets/roadmap #125](https://github.com/opentargets/roadmap/issues/125) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:43] #40 closed

[2018-01-12 14:43] elipapa commented on #40
Issue moved to [opentargets/roadmap #126](https://github.com/opentargets/roadmap/issues/126) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:43] elipapa commented on #38
Issue moved to [opentargets/roadmap #127](https://github.com/opentargets/roadmap/issues/127) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:43] #38 closed

[2018-01-12 14:44] #35 closed

[2018-01-12 14:44] elipapa commented on #35
Issue moved to [opentargets/roadmap #128](https://github.com/opentargets/roadmap/issues/128) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:45] elipapa commented on #34
Issue moved to [opentargets/roadmap #129](https://github.com/opentargets/roadmap/issues/129) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:46] elipapa commented on #33
Issue moved to [opentargets/roadmap #130](https://github.com/opentargets/roadmap/issues/130) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:46] #33 closed

[2018-01-12 14:46] #32 closed

[2018-01-12 14:46] elipapa commented on #32
Issue moved to [opentargets/roadmap #131](https://github.com/opentargets/roadmap/issues/131) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:47] elipapa commented on #30
Issue moved to [opentargets/roadmap #132](https://github.com/opentargets/roadmap/issues/132) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:47] #30 closed

[2018-01-12 14:49] #29 closed

[2018-01-12 14:49] elipapa commented on #29
Issue moved to [opentargets/roadmap #133](https://github.com/opentargets/roadmap/issues/133) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:52] #28 closed

[2018-01-12 14:52] elipapa commented on #28
Issue moved to [opentargets/roadmap #134](https://github.com/opentargets/roadmap/issues/134) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:53] #25 closed

[2018-01-12 14:53] elipapa commented on #25
Issue moved to [opentargets/data_release #54](https://github.com/opentargets/data_release/issues/54) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:53] elipapa commented on #17
Issue moved to [opentargets/roadmap #135](https://github.com/opentargets/roadmap/issues/135) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:53] #17 closed

[2018-01-12 14:55] elipapa commented on #16
![image](https://user-images.githubusercontent.com/112610/34880527-a612d614-f7a8-11e7-866a-37541142b338.png)

[2018-01-12 14:55] #16 closed

[2018-01-12 14:56] elipapa commented on #12
Issue moved to [opentargets/roadmap #136](https://github.com/opentargets/roadmap/issues/136) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:56] #12 closed

[2018-01-12 14:56] #10 closed

[2018-01-12 14:56] elipapa commented on #10
Issue moved to [opentargets/roadmap #137](https://github.com/opentargets/roadmap/issues/137) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:57] elipapa commented on #9
Issue moved to [opentargets/data_release #55](https://github.com/opentargets/data_release/issues/55) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-12 14:57] #9 closed

[2018-01-12 14:58] #8 closed

[2018-01-12 14:58] elipapa commented on #8
Issue moved to [opentargets/data_release #56](https://github.com/opentargets/data_release/issues/56) via [**ZenHub**](https://www.zenhub.com/)